/* .........................  */
/* CSS RESET  */
/* .........................  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: #2b2922;
  color: #fff;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* .........................  */
/* NAVBAR-STYLE  */
/* .........................  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}
.logo {
  width: 12rem;
  cursor: pointer;
}
.navbar-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.list {
  display: flex;
  gap: 5rem;
}
.list-item {
  font-size: 1.6rem;
  font-weight: 600;
  color: #5f5d56;
}

.list-item:hover {
  cursor: pointer;
  color: #fff;
}
.active {
  color: #fff;
}
.button-small {
  color: #72672e;
  font-size: 1.6rem;
  font-weight: 600;
  width: 15rem;
  padding: 1.4rem 2rem;
  border: 2px solid #72672e;
  border-radius: 10px;
  background-color: #2b2922;
  cursor: pointer;
}
.button-small:hover {
  color: #fff;
  background-color: #72672e;
}

/* .........................  */
/* HERO-SECTION STYLE  */
/* .........................  */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #e3e2e0;
  margin-bottom: 10rem;
}

.hero-heading {
  font-size: 7rem;
  font-weight: 800;
  width: 65%;
}
.hero p {
  font-size: 2rem;
  line-height: 1.6;
  width: 35%;
}

.bottom {
  height: 40vh;
  width: 100%;
  background-image: url(./assets/pexels-ekaterina-bolovtsova-6077326.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
